body {
    font-family: Roboto !important
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

.errors ul {
    padding-top: 10px
}

.stats .text {
    font-size: 28px
}

.stats .text span {
    font-size: 200%
}

.stats .link_results {
    font-weight: 500
}

#timetable thead tr th:last-child {
    position: relative;
}

#timetable thead tr th:last-child:after {
    content: '\e031';
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: 8px;
    right: 0;
}

#timetable.running thead tr th:last-child:after {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}